.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  min-height: 50px;
  z-index: 1;
  background: #fff;
  margin-top: 0
}
.navbar li{
  display:block;
  float: left;
  position: relative;
  text-decoration: none;
}
.navbar li a{
  color: #525252;
  cursor: pointer;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  padding: 16px 10px;
  display: block;
  font-family: proxima-nova,sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 10px;
  display: block;
  font-family: proxima-nova,sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}
.navbar li a:hover{
  background-color: black;
  color: white;
}

.home h1{
  
  /* font-size: 100%; */
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
}
.home button{
  padding: 12.4px 33px;
    font-weight: 600;
    position: relative;
    margin-top: 14px;
    margin-bottom: 8px;
    background: 0 0;
    margin-left: 5px;
    color: #fff;
    outline: 0;
    border: 3px solid #FFF;
    border-radius: 4px;
    letter-spacing: .02em;
}
.home button:hover{
  background: #fff;
  color: #323232;
}

/*************Common Style Sheet**************/
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.page-title {
  display: flex;
  height: 200px;
  background-image: linear-gradient(to bottom right, #9c1233, #240b36 75.63%);
  align-items: center;
  justify-content: center;
  color: white;
}

.page-title h1 {
  font-weight: bold;
  font-size: 40px;
}

.body-row, .section-title, .section-content{
  padding-left: 30px;
  padding-right: 30px;
}

.body-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-title, .section-content{
  word-wrap: break-word;      
  width: 100%;
  font-family: "Source Sans Pro";
}

.section-title h2 {
  font-size: 20px;
  color: #5B6575;
  letter-spacing: 2px;
  font-weight: 600;
}

.section-content p {
  font-size: 18px;
}

.member-img {
  width: 250px;
  height:250px;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans Pro";
}

.member-info h3 {
  margin-top: 10px;
}

.member-info h5 {
  color: grey;
  margin-top: 0;
  margin-bottom: 20px;
}

.member-info p {
  font-size: 14px;
}

/***********Responsive with multiple devices**************/
@media only screen and (min-width: 768px) {
  .body-row, .section-title, .section-content{
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-title h2{
    font-size: 22px;
  }
  .section-content p{
    font-size: 20px;
  }
  .member-info h3{
    font-size: 24px;
  }
  .member-info h5{
    font-size: 18px;
  }
  .member-info p{
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .body-row, .section-title, .section-content{
    padding-left: 100px;
    padding-right: 100px;
  }
  .body-row-member{
    flex-direction: row;
  }
  .member-info{
    padding-left: 30px;
    text-align: left;
  }
  .body-row-member{
    margin-bottom: 60px;
  }
}

